
.container{
    .col{
        height: auto;
        padding: 0.5rem;
        margin: 10px;
    }
  select{
    &:hover{
        cursor: pointer;
    }
  }

  .container-content{
    height: 650px;
    overflow: scroll;
    padding: 0.8rem;
    border-radius: 5px;
    background-color:rgb(220, 224, 224);
   
  }

  ol{
    li{
        .btn-difficulty{
            margin-left: 1.5rem;
        }
    }
  }

}

::-webkit-scrollbar{
    display: none;
}