<div class="container mt-5">
  <section class="addTodo row my-2 align-items-center">
    <div class="col-2">
      <input [(ngModel)]="formdata" type="text" class="form-control" />
    </div>
    <div class="col-1">
      <select
        [(ngModel)]="difficulty"
        class="form-select px-2"
        aria-label="Default select example"
      >
        <option selected value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
    <div class="col">
      <button (click)="addTodo()" class="btn btn-primary">Add</button>
    </div>
  </section>
  <section class="container-content row">
    <section class="col-12 col-md m-2">
      <div class="card">
        <div class="card-header">Todos</div>
        <div class="card-content p-3">
          <ol class="list-group">
            <li
              class="list-group-item"
              *ngFor="let item of initialTodos; let i = index"
            >
              <p>{{ i + 1 }}. {{ item.name }}</p>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  (click)="changestate(item)"
                  type="button"
                  class="btn btn-sm btn-success"
                >
                  >
                </button>
                <button
                  (click)="removeitem(item)"
                  type="button"
                  class="btn btn-sm btn-danger"
                >
                  X
                </button>
              </div>
              <button
                class="btn btn-difficulty btn-sm"
                [ngClass]="generateColor(item)"
              >
                {{ item.difficulty }}
              </button>
            </li>
          </ol>
          <p class="text-danger" *ngIf="!initialTodos.length">Todo empty</p>
        </div>
      </div>
    </section>
    <section class="col-12 col-md m-2">
      <div class="card">
        <div class="card-header">In Progress</div>
        <div class="card-content p-3">
          <ol class="list-group">
            <li
              class="list-group-item space-around"
              *ngFor="let item of todosInProgress; let i = index"
            >
              <p>{{ i + 1 }}. {{ item.name }}</p>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  (click)="changeStateToUndone(item)"
                  type="button"
                  class="btn btn-primary btn-sm"
                >
                  <
                </button>
                <button
                  (click)="changestate(item)"
                  type="button"
                  class="btn btn-success btn-sm btn-success"
                >
                  >
                </button>
              </div>
              <button
                class="btn btn-difficulty btn-sm"
                [ngClass]="generateColor(item)"
              >
                {{ item.difficulty }}
              </button>
            </li>
          </ol>
          <p class="text-danger" *ngIf="!todosInProgress.length">Todo empty</p>
        </div>
      </div>
    </section>
    <section class="col-12 col-md m-2">
      <div class="card">
        <div class="card-header">Done</div>
        <div class="card-content p-3">
          <ol class="list-group">
            <li
              class="list-group-item"
              *ngFor="let item of completedTodos; let i = index"
            >
              <p>{{ i + 1 }}. {{ item.name }}</p>
              <button
                class="btn btn-primary btn-sm"
                (click)="changestate(item)"
              >
                <
              </button>
              <button
                class="btn btn-difficulty btn-sm"
                [ngClass]="generateColor(item)"
              >
                {{ item.difficulty }}
              </button>
            </li>
          </ol>
          <p class="text-danger" *ngIf="!completedTodos.length">Todo empty</p>
        </div>
      </div>
    </section>
  </section>
</div>
